@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
}
body {
   background-image: url(bg3.png);
   background-attachment: fixed;
   height: 100%; 
   width:600px;
margin-right: auto;
margin-left : auto;
margin-bottom: auto;
text-align: center;
}
h1{
text-align: center;
color: black;
padding-top: 70px;
}

p{
	color: black;
}

input[type="text"]{
margin: 20px 0 20px 0;
padding-bottom: 10px;
padding-left: 5px;
 height: calc( 2.0em * 1 );
  line-height: 2.0;
  font-size: 15px;
width: 18em;
transition: all .6s ease;
border-bottom:1px solid #000000;
border-right:none;
border-left:none;
border-top:none;
border-radius:0px;
    background: rgba(255,0,0,0.0);
}

option{
  border-bottom:1px solid #eaeaea;
  border-left:3px solid white;
  appearance:none;
}

option:hover{
  background-color:white;
  border-left:3px solid #f3a1a1;

}

input[type="submit"]{
width: 50%;
  padding: 15px;
  color: black;
  font-size: 20px;
  background-color: #d3d3d3; /* 背景色 */
  border: 1px solid rgba(255, 255, 255, 0.4); /* ボーダー */
  border-right-color: rgba(255, 255, 255, 0.2);
  border-bottom-color: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  -webkit-backdrop-filter: blur(20px); /* ぼかしエフェクト */
  backdrop-filter: blur(20px);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5); /* 薄い影 */
}
input[type="reset"]{
width: 50%;
  padding: 15px;
  color: black;
  font-size: 20px;
  background-color: #d3d3d3; /* 背景色 */
  border: 1px solid rgba(255, 255, 255, 0.4); /* ボーダー */
  border-right-color: rgba(255, 255, 255, 0.2);
  border-bottom-color: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  -webkit-backdrop-filter: blur(20px); /* ぼかしエフェクト */
  backdrop-filter: blur(20px);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5); /* 薄い影 */
  float: right;
}

table{
	text-align: center;
  margin-right: auto;
  margin-bottom: 30px;
margin-left : auto;
margin-top: 20px;
  max-width: 600px;	
}

.textlines{
	border: 1px solid #0a0;  /* 枠線 */
	border-color: black;
    padding: 0.5em;          /* 内側の余白量 */
    background: rgba(255,0,0,0.0);  /* 背景色 */
    width: 20em;             /* 横幅 */
    height: 120px;           /* 高さ */
    font-size: 1em;          /* 文字サイズ */
    line-height: 1.2;
}

.textlines:focus {
      /* 背景色 */
    outline: none;           /* ※ブラウザが標準で付加する線を消したいとき */
}

input[type="checkbox"]{
	margin-right: 5px;
	  margin-bottom: 20px;
}
input[type="radio"]{
	  margin-bottom: 20px;
	  margin-right: 5px;
}
.a{
	color: black;
}
.chkbox{
	color: black;
}
#id{
	width: 100%;
  padding: 30px;
  color: white;
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0.1); /* 背景色 */
  border: 1px solid rgba(255, 255, 255, 0.4); /* ボーダー */
  border-right-color: rgba(255, 255, 255, 0.2);
  border-bottom-color: rgba(255, 255, 255, 0.2);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  -webkit-backdrop-filter: blur(20px); /* ぼかしエフェクト */
  backdrop-filter: blur(20px);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5); /* 薄い影 */
}
.chk{
	width:600px;
margin-right: auto;
margin-left : auto;
margin-bottom: auto;
	
}
.box{
	padding: 3em 1em;
	margin: 2em 0;
	font-weight: bold;
	border: solid 2px #fff;
	width: 30em;
	transition: all .6s ease;
	margin-right: auto;
	margin-left : auto;
	margin-bottom: 100px;
	background-color: #d3d3d3;
	border: 1px solid rgba(255, 255, 255, 0.4); /* ボーダー */
	border-right-color: rgba(255, 255, 255, 0.2);
	border-bottom-color: rgba(255, 255, 255, 0.2);
	border-radius: 15px;
	-webkit-backdrop-filter: blur(20px); /* ぼかしエフェクト */
	backdrop-filter: blur(20px);
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5); /* 薄い影 */
}
textarea {
  resize: none;
}

#menu{
	margin-top: 20px;
}